<div class="paging-container">
  <div class="text-list">
    <div *ngFor="let item of items" class="text-item">
      <h3>{{ item.title }}</h3>
      <p>{{ item.body }}</p>
    </div>
  </div>
  <div class="pagination-controls">
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <div class="buttons-container">
      <button (click)="previousPage()" [disabled]="currentPage === 1">
        Back
      </button>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages">
        Next
      </button>
    </div>
  </div>
</div>
