<div
  class="pagination-container"
  role="navigation"
  aria-label="Pagination Navigation"
>
  <button
    class="pagination-button"
    [disabled]="currentPage === 1 || isLoading"
    (click)="previousPage()"
    [attr.aria-label]="'Previous Page'"
    tabindex="0"
  >
    &laquo;
  </button>

  <button
    *ngFor="let page of pages"
    class="pagination-button"
    [class.current-page]="currentPage === page"
    (click)="setPage(page)"
    [attr.aria-label]="'Page ' + page"
    [attr.aria-current]="currentPage === page ? 'page' : null"
    [disabled]="isLoading"
    tabindex="0"
  >
    {{ page }}
  </button>

  <button
    class="pagination-button"
    [disabled]="currentPage === totalPages || isLoading"
    (click)="nextPage()"
    [attr.aria-label]="'Next Page'"
    tabindex="0"
  >
    &raquo;
  </button>

  <div *ngIf="isLoading" class="loading-indicator">Loading...</div>
</div>

<div class="image-container">
  <div *ngFor="let image of images" class="image-item">
    <img [src]="image.urls.small" [alt]="image.alt_description" />
  </div>
</div>
