<div class="carousel">
  <div class="carousel__inner">
    <figure
      *ngFor="let item of items; let i = index"
      class="carousel__item"
      [class.carousel__item--active]="i === currentIndex"
    >
      <img class="carousel__image" [src]="item.src" [alt]="item.alt" />
    </figure>
  </div>
  <button
    class="carousel__control carousel__control--prev"
    type="button"
    aria-label="Previous slide"
    (click)="showSlide((currentIndex - 1 + items.length) % items.length)"
  >
    &#10094;
  </button>
  <button
    class="carousel__control carousel__control--next"
    type="button"
    aria-label="Next slide"
    (click)="nextSlide()"
  >
    &#10095;
  </button>
  <div class="carousel__indicators">
    <span
      *ngFor="let item of items; let i = index"
      class="carousel__indicator"
      [class.carousel__indicator--active]="i === currentIndex"
      (click)="showSlide(i)"
    ></span>
  </div>
</div>
