<p class="paragraph-style">
  A Loader Component is a visual indicator displayed on a webpage while content
  is loading. It typically appears as a spinning circle, progress bar, or other
  animated element. Its primary purpose is to inform the user that the page is
  still processing information and to prevent frustration caused by perceived
  delays. The specific appearance of a loader can vary based on the website's
  design and the type of loading activity
</p>

<div
  class="loader-overlay"
  [style.display]="isLoading ? 'block' : 'none'"
  (click)="toggleLoader()"
>
  <div class="loader-container">
    <div class="loader" (click)="$event.stopPropagation()">
      <ng-container [ngSwitch]="loaderType">
        <div *ngSwitchCase="LoaderType.Loading">
          <div class="spinner"></div>
          <h1>{{ loadingText }}</h1>
        </div>
        <div class="circular" *ngSwitchCase="LoaderType.Circular"></div>
      </ng-container>
    </div>
  </div>
</div>

<!-- Button to toggle the loader overlay -->
<div class="button-container">
  <button (click)="toggleLoader()">Toggle Loader</button>
</div>
