@import "../../../styles.scss";
@import "../../../styles/_mixins.scss";

// .card {
//   display: flex;
//   flex-direction: column;
//   border-radius: 3px;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
//   margin-top: 10px;
//   overflow: hidden;

//   .card-header {
//     display: flex;
//     align-items: center;
//     padding: 10px;
//     background-color: #007bff;
//     color: white;

//     i {
//       margin-right: 10px;
//     }

//     h2 {
//       margin: 0;
//       font-size: 1.5rem;
//     }

//     h3 {
//       margin: 0;
//       font-size: 1rem;
//       font-weight: normal;
//     }
//   }

//   .card-body {
//     padding: 10px;
//     background-color: #f8f9fa;
//   }
// }

.card-container {
  display: grid;
  grid-gap: 10px;
  border-radius: 3px;

  margin-top: 10px;

  // @include box-shadow();

  .header {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
    background-color: #007bff;
    color: white;

    .title {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: auto 1fr;
      align-items: center;
    }
  }

  .body,
  .footer {
    padding: 10px;
  }
}
