@import "../../../styles/_variables.scss";

.loader {
  position: relative;
  background-color: #f3f3f3;
  opacity: 0.75;
  border-radius: 5px;
  margin-bottom: 5px;
  min-height: 50px;
  overflow: hidden;

  &::after {
    @keyframes loading {
      100% {
        transform: translateX(100%);
      }
    }
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.4),
      transparent
    );
    animation: loading 1.5s infinite;
  }
}

.enhanced-text {
  font-family: "Arial", sans-serif;
  font-size: 1.1em;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease-in-out;
}

.skeleton-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: opacity 0.3s ease-in-out;
}

.skeleton-loader {
  width: 100%;
  height: 20px;
  background-color: #add8e6; /* Light Blue */
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.skeleton-loader::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.6),
    transparent
  );
  animation: loading 1.5s infinite;
}

.skeleton-text {
  width: 100%;
  height: 16px;
  background-color: #87ceeb; /* Sky Blue */
  border-radius: 4px;
}

.skeleton-text.short {
  width: 60%;
}

.skeleton-avatar {
  width: 40px;
  height: 40px;
  background-color: #b0c4de; /* Light Steel Blue */
  border-radius: 50%;
  margin-bottom: 10px;
}

.styled-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.styled-button:hover {
  background-color: #0056b3;
}

.skeleton-avatar,
.skeleton-loader,
.skeleton-text,
.skeleton-text.short {
  border: 1px solid red; /* Temporary border for visibility */
}
