@import "../../../styles/_colors.scss";
@import "../../../styles/_mixins.scss";
@import "../../../styles/_variables.scss";

.intro-section {
  position: relative;
  height: 100vh; /* Full viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 0 2%; /* Add padding for better spacing on smaller screens */
  background: linear-gradient(
    135deg,
    #3e1e68 0%,
    #1e3e68 100%
  ); /* Add gradient background */
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  backdrop-filter: blur(5px); /* Blur effect */
  overflow: hidden;
  z-index: 1;
}

.background-image {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50%;
  width: 50%;
  max-width: 50%;
  max-height: 50%;
  object-fit: contain;
  filter: brightness(
    30%
  ); /* Further darken the image for better text contrast */
  transform: translate(-50%, -50%); /* Center the image */
  transition: transform 0.5s ease-in-out; /* Add smooth transition for hover effect */
}

// .background-image:hover {
//   transform: translate(-50%, -50%) scale(1.05); /* Slightly enlarge image on hover */
// }

.intro-content {
  position: relative;
  z-index: 2;
  text-align: center;
  // color: #ffffff; /* White text for contrast */
  padding: 0 2%; /* Add padding for better spacing on smaller screens */
  backdrop-filter: blur(10px); /* Add blur effect to background */
  background: rgba(0, 0, 0, 0.5); /* Add semi-transparent background */
  border-radius: 10px; /* Add rounded corners */
  padding: 20px; /* Add padding inside the content box */
}

.intro-headline {
  font-size: 3rem;
  margin-bottom: 10px;
  background: linear-gradient(to right, #ff00ff 0%, #00ffff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Add subtle shadow for better readability */
  animation: fadeIn 1s ease-in-out; /* Add fade-in animation */
}

.intro-description {
  font-size: 1.5rem;
  color: #ffffff; /* Change to white for better contrast */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); /* Add subtle shadow for better readability */
  animation: fadeIn 1.5s ease-in-out; /* Add fade-in animation with delay */
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .intro-headline {
    font-size: 2.5rem;
  }

  .intro-description {
    font-size: 1.25rem;
  }
}

@media (max-width: 480px) {
  .intro-headline {
    font-size: 2rem;
  }

  .intro-description {
    font-size: 1rem;
  }
}

/* Keyframes for fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Media Queries for Responsive Design */
// @media (max-width: 768px) {
//   .intro-headline {
//     font-size: 2.5rem;
//   }

//   .intro-description {
//     font-size: 1.25rem;
//   }

//   .background-image {
//     height: 90%;
//     width: 90%;
//   }
// }

// @media (max-width: 480px) {
//   .intro-headline {
//     font-size: 2rem;
//   }

//   .intro-description {
//     font-size: 1rem;
//   }

//   .background-image {
//     height: 100%;
//     width: 100%;
//   }
// }

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

// .background {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   top: 0;
//   left: 0;
//   background: #3e1e68;
//   overflow: hidden;
// }

.background span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 45;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: #e45a84;
  top: 58%;
  left: 43%;
  animation-duration: 9s;
  animation-delay: -31s;
  transform-origin: 24vw 7vh;
  box-shadow: -40vmin 0 5.343379856770149vmin currentColor;
}

.background span:nth-child(1) {
  color: #e45a84;
  top: 6%;
  left: 52%;
  animation-duration: 26s;
  animation-delay: -16s;
  transform-origin: -22vw 21vh;
  box-shadow: 40vmin 0 5.007836451426643vmin currentColor;
}

.background span:nth-child(2) {
  color: #583c87;
  top: 44%;
  left: 44%;
  animation-duration: 12s;
  animation-delay: -6s;
  transform-origin: 18vw -20vh;
  box-shadow: -40vmin 0 5.535106096516933vmin currentColor;
}

.background span:nth-child(3) {
  color: #ffacac;
  top: 2%;
  left: 9%;
  animation-duration: 36s;
  animation-delay: -8s;
  transform-origin: 11vw -1vh;
  box-shadow: 40vmin 0 5.052207441990582vmin currentColor;
}

.background span:nth-child(4) {
  color: #ffacac;
  top: 92%;
  left: 48%;
  animation-duration: 13s;
  animation-delay: -34s;
  transform-origin: 19vw -10vh;
  box-shadow: -40vmin 0 5.71326638875691vmin currentColor;
}

.background span:nth-child(5) {
  color: #e45a84;
  top: 72%;
  left: 99%;
  animation-duration: 35s;
  animation-delay: -12s;
  transform-origin: -13vw -9vh;
  box-shadow: -40vmin 0 5.331732766578826vmin currentColor;
}

.background span:nth-child(6) {
  color: #e45a84;
  top: 94%;
  left: 95%;
  animation-duration: 18s;
  animation-delay: -15s;
  transform-origin: -21vw -6vh;
  box-shadow: -40vmin 0 5.058725795902554vmin currentColor;
}

.background span:nth-child(7) {
  color: #583c87;
  top: 74%;
  left: 89%;
  animation-duration: 25s;
  animation-delay: -47s;
  transform-origin: -1vw -2vh;
  box-shadow: -40vmin 0 5.357216157320234vmin currentColor;
}

.background span:nth-child(8) {
  color: #e45a84;
  top: 61%;
  left: 5%;
  animation-duration: 44s;
  animation-delay: -16s;
  transform-origin: 19vw -13vh;
  box-shadow: 40vmin 0 5.155278799195976vmin currentColor;
}

.background span:nth-child(9) {
  color: #ffacac;
  top: 13%;
  left: 48%;
  animation-duration: 10s;
  animation-delay: -48s;
  transform-origin: -6vw 19vh;
  box-shadow: 40vmin 0 5.405996304324871vmin currentColor;
}

.background span:nth-child(10) {
  color: #e45a84;
  top: 8%;
  left: 10%;
  animation-duration: 6s;
  animation-delay: -19s;
  transform-origin: -10vw -2vh;
  box-shadow: -40vmin 0 5.20515764455473vmin currentColor;
}

.background span:nth-child(11) {
  color: #e45a84;
  top: 2%;
  left: 66%;
  animation-duration: 7s;
  animation-delay: -33s;
  transform-origin: 7vw 10vh;
  box-shadow: -40vmin 0 5.3481903421611765vmin currentColor;
}

.background span:nth-child(12) {
  color: #583c87;
  top: 34%;
  left: 53%;
  animation-duration: 37s;
  animation-delay: -42s;
  transform-origin: 4vw -18vh;
  box-shadow: 40vmin 0 5.693412424269148vmin currentColor;
}

.background span:nth-child(13) {
  color: #e45a84;
  top: 88%;
  left: 100%;
  animation-duration: 42s;
  animation-delay: -9s;
  transform-origin: 5vw -7vh;
  box-shadow: 40vmin 0 5.245001196599665vmin currentColor;
}

.background span:nth-child(14) {
  color: #ffacac;
  top: 84%;
  left: 55%;
  animation-duration: 43s;
  animation-delay: -10s;
  transform-origin: -6vw -7vh;
  box-shadow: -40vmin 0 5.936304677849771vmin currentColor;
}

.background span:nth-child(15) {
  color: #ffacac;
  top: 23%;
  left: 76%;
  animation-duration: 21s;
  animation-delay: -18s;
  transform-origin: -18vw 17vh;
  box-shadow: -40vmin 0 5.204326006125215vmin currentColor;
}

.background span:nth-child(16) {
  color: #ffacac;
  top: 72%;
  left: 8%;
  animation-duration: 21s;
  animation-delay: -44s;
  transform-origin: -11vw -22vh;
  box-shadow: -40vmin 0 5.258079890973571vmin currentColor;
}

.background span:nth-child(17) {
  color: #583c87;
  top: 76%;
  left: 20%;
  animation-duration: 13s;
  animation-delay: -27s;
  transform-origin: -15vw 5vh;
  box-shadow: 40vmin 0 5.2425484182142235vmin currentColor;
}

.background span:nth-child(18) {
  color: #e45a84;
  top: 69%;
  left: 26%;
  animation-duration: 11s;
  animation-delay: -46s;
  transform-origin: -14vw 0vh;
  box-shadow: 40vmin 0 5.676650392044533vmin currentColor;
}

.background span:nth-child(19) {
  color: #583c87;
  top: 84%;
  left: 9%;
  animation-duration: 27s;
  animation-delay: -42s;
  transform-origin: 0vw 9vh;
  box-shadow: -40vmin 0 5.979457756332518vmin currentColor;
}

/* Define the styles for the content section */
.content-section {
  background-color: #f0f0f0; /* Light gray background */
  font-family: "Arial", sans-serif; /* Sans-serif font family */
  padding: 20px;
  margin: 20px;
  margin-bottom: 10rem;
  border-radius: 8px;
}

/* Style the section title */
.section-title {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

/* Style the subsection titles */
.subsection-title {
  font-weight: bold;
  margin-top: 20px;
}

/* Style the subsection descriptions */
.subsection-description {
  margin-bottom: 10px;
}

/* Style the lists */
.subsection-list {
  color: #666666; /* Subtle gray color for bullet points */
  margin-left: 20px;
}

/* Ensure the content is responsive */
@media (max-width: 768px) {
  .content-section {
    padding: 10px;
    margin: 10px;
  }
}
