@import "../../../styles/_colors.scss";
@import "../../../styles/_mixins.scss";
@import "../../../styles/_variables.scss";

/* Define a color palette */
$home-section-title-primary-color: #ffffff;
$home-section-title-secondary-color: #1e90ff;
$home-content-background-color: #1a1a1a;
$home-list-text-color: #b3b3b3;
$home-content-border-color: #1a1a1a;
$link-color: #1a73e8;
$link-hover-color: darken($link-color, 10%);

/* Content section styles */
.section-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  margin-top: 50px;
}

.content-section {
  background-color: $home-content-background-color;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  border: 1px solid $home-content-border-color;
  max-width: 1200px;
  width: 100%;
  margin: 20px auto;
}

/* Section title styles */
.section-title {
  font-size: 28px;
  font-weight: bold;
  color: $home-section-title-primary-color;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Lato", sans-serif; /* Updated font */
  letter-spacing: 0.5px; /* Adjust letter spacing */
  line-height: 1.5; /* Adjust line spacing */
}

/* Subsection title styles */
.subsection-title {
  font-size: 22px;
  font-weight: bold;
  color: $home-section-title-secondary-color;
  margin-top: 20px;
  font-family: "Lato", sans-serif; /* Updated font */
  letter-spacing: 0.3px; /* Adjust letter spacing */
  line-height: 1.4; /* Adjust line spacing */
}

/* Subsection description styles */
.subsection-description {
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 1.8; /* Adjust line spacing */
  color: white;
  font-family: "Merriweather", serif; /* Updated font */
  letter-spacing: 0.2px; /* Adjust letter spacing */
}

/* List styles */
.subsection-list {
  margin-left: 20px;
  color: $home-list-text-color;
  list-style-type: disc;
  padding-left: 20px;
  line-height: 1.6; /* Adjust line spacing */
  font-family: "Merriweather", serif; /* Updated font */
}

/* Link styles */
a {
  color: $link-color;
  text-decoration: underline;
  letter-spacing: 0.1px; /* Adjust letter spacing */
  font-family: "Lato", sans-serif; /* Updated font */

  &:hover {
    color: $link-hover-color;
  }
}
