<p>carousel works!</p>

<!-- <div class="carousel">
        <div class="carousel-inner">
          <figure class="carousel-item active">
            <img
              class="intro-image img1"
              src="https://th.bing.com/th/id/OIG4.Xi5a.97_4DiriMNgneVr?pid=ImgGn"
              alt="Technology bridge"
            />
          </figure>
          <figure class="carousel-item">
            <img
              class="intro-image img2"
              src="https://th.bing.com/th/id/OIG1.iJdYUNuvyFcoV1v7nyzD?pid=ImgGn"
              alt="Scalable application"
            />
          </figure>
          <figure class="carousel-item">
            <img
              class="intro-image img3"
              src="https://th.bing.com/th/id/OIG4.z2QSfBUS1FBYeA_PAN55?w=1024&h=1024&rs=1&pid=ImgDetMain"
              alt="Innovative technology"
            />
          </figure>
          <figure class="carousel-item">
            <img
              class="intro-image img4"
              src="https://th.bing.com/th/id/OIG1.IJeBxVtf0Tmcv85b6_Wn?w=1024&h=1024&rs=1&pid=ImgDetMain"
              alt="Future technology"
            />
          </figure>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          aria-label="Previous slide"
        >
          &#10094;
        </button>
        <button
          class="carousel-control-next"
          type="button"
          aria-label="Next slide"
        >
          &#10095;
        </button>
      </div> -->
