.footer {
  background: linear-gradient(
    to bottom,
    #f0f0f0 0%,
    /* Light Gray */ #e0e0e0 25%,
    /* Slightly Darker Light Gray */ #d0d0d0 75%,
    /* Even Darker Light Gray */ #c0c0c0 100% /* Darker Light Gray */
  );
  padding: 20px;
  text-align: center;
  position: relative;
  z-index: 2;
  bottom: 0;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added box shadow */
}

.footer-content {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-icon {
  color: white;
  font-size: 28px; /* Increased base font size */
  transition: color 0.3s;

  &:hover {
    color: #dfe3ee;
  }
}

@media (max-width: 768px) {
  .footer-content {
    gap: 20px; /* Adjusted gap for better spacing */
  }

  .footer-icon {
    font-size: 28px; /* Increased font size for tablets */
  }
}

@media (max-width: 480px) {
  .footer-content {
    gap: 15px; /* Adjusted gap for better spacing */
  }

  .footer-icon {
    font-size: 28px; /* Increased font size for mobile */
  }
}
