<div
  class="modal-container"
  [class.is-hidden]="isHidden"
  role="dialog"
  aria-labelledby="modalTitle"
  [attr.aria-hidden]="isHidden"
>
  <div class="modal-header">
    <h5 id="modalTitle">{{ title }}</h5>
    <button class="close-button" aria-label="Close" (click)="closeModal()">
      <i class="fas fa-times"></i>
    </button>
  </div>
  <div class="modal-body" tabindex="0">
    <ng-content></ng-content>
  </div>
</div>
<div
  class="modal-overlay"
  (click)="closeModal()"
  [class.is-hidden]="isHidden"
></div>
