/* Global Theme Mode Colors */
$lm-toolbar-background-color: #d3d3d3;
$dm-toolbar-background-color: #121212;

/* Toolbar Menu Colors */
$toolbar-background-color: #c0c0c0;

/* Cyber Menu Colors */
$cybermenu-bg-color: #333333;
$hover-color: #ff2079;
$transition-effect: all 0.3s ease;
$secondary-bg-color: #0f0f0f;
$hover-bg-color: #1a1a1a;
$highlight-color: #ff00ff;
$highlight-shadow: 0 0 5px $highlight-color, 0 0 10px $highlight-color,
  0 0 15px $highlight-color, 0 0 20px $highlight-color;
$white-color: rgba(255, 255, 255, 1);
$accent-color: #ff00ff;
$dark-color: rgba(60, 60, 60, 1);
$warning-color: #ffff00;
$black-color: rgba(33, 33, 33, 1);
