@import "../../../styles/colors.scss";

.credit-card-input-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0 auto;
  max-width: 400px;
  font-family: "Roboto", sans-serif;
  padding: 16px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .credit-card-label {
    font-size: 1.2rem;
    font-weight: bold;
    color: $text-color;
  }

  .input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 12px;
    background-color: $background-color;
    transition: border-color 0.3s, box-shadow 0.3s;

    &:focus-within {
      border-color: $primary-color;
      box-shadow: 0 0 0 4px rgba(0, 123, 255, 0.25);
    }

    .icon-container {
      display: flex;
      align-items: center;
      margin-right: 12px;
    }

    .spaced-icon {
      font-size: 2rem; /* Increased size for better visibility */
      color: $primary-color; /* Consistent color scheme */
      padding: 4px; /* Padding around the icons */
      transition: transform 0.3s, color 0.3s; /* Smooth transition for hover effect */

      &:hover {
        transform: scale(1.1); /* Slightly enlarge the icon on hover */
        color: $hover-color; /* Darker shade on hover */
      }
    }

    .credit-card-input {
      flex: 1;
      border: none;
      outline: none;
      padding: 8px;
      font-size: 1rem;
      background-color: transparent;
      transition: background-color 0.3s;

      &:focus {
        background-color: $focus-background-color;
      }

      &::placeholder {
        color: #aaa;
      }
    }
  }

  .validation-message {
    font-size: 0.9rem;
    padding: 8px;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;

    &.valid {
      color: #28a745; /* Green color for valid */
      background-color: lighten(#28a745, 40%);
    }

    &.invalid {
      color: #d9534f; /* Red color for invalid */
      background-color: lighten(#d9534f, 40%);
    }
  }

  //   @media (max-width: 600px) {
  //     .input-wrapper {
  //       flex-direction: column;
  //       align-items: flex-start;

  //       .icon-container {
  //         margin-bottom: 8px;
  //       }

  //       .credit-card-input {
  //         width: 100%;
  //       }
  //     }
  //   }
}
