<div class="credit-card-input-container">
  <label for="creditCardNumber" class="credit-card-label"
    >CC Input Validator</label
  >
  <div class="input-wrapper">
    <div class="icon-container">
      <ng-container [ngSwitch]="creditCardNumber[0]">
        <i *ngSwitchCase="'3'" class="fab fa-cc-amex spaced-icon"></i>
        <i *ngSwitchCase="'4'" class="fab fa-cc-visa spaced-icon"></i>
        <i *ngSwitchCase="'5'" class="fab fa-cc-mastercard spaced-icon"></i>
        <i *ngSwitchCase="'6'" class="fab fa-cc-discover spaced-icon"></i>
        <i *ngSwitchDefault class="fas fa-credit-card spaced-icon"></i>
      </ng-container>
    </div>
    <input
      type="text"
      id="creditCardNumber"
      [(ngModel)]="creditCardNumber"
      required
      maxlength="16"
      [readonly]="isReadonly"
      placeholder="Enter your credit card number"
      class="credit-card-input"
    />
  </div>

  <div class="validation-message">
    Authentication: {{ isValidCard() ? "Valid" : "Invalid" }}
  </div>

  <div footer>
    Here's a general overview of the most common credit card networks and the
    typical starting digits of their card numbers: First 4 digits: Issuer
    Identification Number (IIN) or Bank Identification Number (BIN) Identifies
    the card network (Visa, Mastercard, American Express, Discover, etc.) The
    credit card number entered by the user calls the AuthenticatorService used
    to identify and validate a specific card. Note: While these are common
    starting digits, there are many variations within each network. Credit card
    validation and authorization is a multi-layered process involving several
    checks and interactions with different security systems.
    <div class="card-network-grid">
      <div class="header">Card Network</div>
      <div class="header">First 4 Digits</div>
      <div>Visa</div>
      <div>4111</div>
      <div>Mastercard</div>
      <div>5123</div>
      <div>American Express</div>
      <div>3485</div>
      <div>Discover</div>
      <div>6011</div>
    </div>
  </div>
</div>
