@import "../../../styles/_mixins.scss";
@import "../../../styles/_colors.scss";
@import "../../../styles/_variables.scss";
@import "../../../styles.scss";

// Define color variables
$red: #ff0000;
$yellow: #ffff00;
$green: #00ff00;
$gray: #eeeeee;
$dark-gray: #cccccc;

.password-container {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  border: 1px solid $dark-gray;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .password {
    position: relative;
    margin-bottom: 1rem;

    input {
      width: 100%;
      padding: 0.5rem 0;
      border: none;
      border-bottom: 2px solid $dark-gray;
      font-size: 1rem;
      outline: none;
      transition: border-color 0.3s;

      &:focus {
        border-bottom-color: $yellow;
      }

      &:focus + label,
      &:not(:placeholder-shown) + label {
        top: -1rem;
        font-size: 0.75rem;
        color: $yellow;
      }
    }

    label {
      position: absolute;
      top: 0.5rem;
      left: 0;
      font-size: 1rem;
      color: $dark-gray;
      pointer-events: none;
      transition: all 0.3s;
    }
  }

  .password-strength {
    progress {
      width: 100%;
      height: 15px;
      background-color: $gray;
      border-radius: 20px;
      overflow: hidden;

      &::-webkit-progress-bar {
        background-color: $gray;
      }

      &::-webkit-progress-value {
        border-radius: 20px;
        transition: background-color 0.3s;
      }

      &[value^="25"]::-webkit-progress-value {
        background-color: $red;
      }

      &[value^="50"]::-webkit-progress-value {
        background-color: $yellow;
      }

      &[value^="75"]::-webkit-progress-value {
        background-color: $green;
      }
    }
  }

  .password-hints {
    ul {
      color: $red;
      list-style: none;
      padding: 0;

      li {
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;

        &::before {
          content: "⚠️";
          margin-right: 0.5rem;
        }
      }
    }
  }
}
