<section class="password-strength-info">
  <p>
    This component helps users create strong and secure passwords by providing
    <strong>real-time feedback</strong>. As the user types their password, a
    progress bar dynamically updates to reflect how well the password meets the
    following security requirements:
  </p>
  <ol>
    <li><strong>Minimum Length:</strong> 8 characters</li>
    <li><strong>Contains at Least One Uppercase Letter</strong></li>
    <li><strong>Includes at Least One Number</strong></li>
    <li><strong>Contains at Least One Special Character</strong></li>
  </ol>
  <p>
    The progress bar visually indicates which criteria have been met, guiding
    users to create a compliant and strong password.
  </p>
</section>

<article class="password-container">
  <div class="password">
    <input
      type="password"
      id="password"
      [(ngModel)]="password"
      #passwordInput="ngModel"
      placeholder="Enter new password"
      required
      aria-describedby="password-hints"
    />
    <label for="password">Password</label>
  </div>

  <div class="password-strength">
    <progress
      [value]="passwordStrengthPercent"
      [max]="100"
      [attr.aria-valuenow]="passwordStrengthPercent"
      aria-valuemin="0"
      aria-valuemax="100"
    ></progress>
  </div>

  <div
    class="password-hints"
    *ngIf="passwordInput.touched"
    aria-live="polite"
    id="password-hints"
  >
    <ul>
      <li *ngIf="!is8CharactersOrGreater" [class.met]="is8CharactersOrGreater">
        Min Length of 8 Required.
      </li>
      <li
        *ngIf="!hasOneCapitalLetterOrMore"
        [class.met]="hasOneCapitalLetterOrMore"
      >
        One or More Capital Letter Required.
      </li>
      <li *ngIf="!hasOneNumberOrMore" [class.met]="hasOneNumberOrMore">
        One or More Number Required.
      </li>
      <li
        *ngIf="!hasOneSpecialCharacterOrMore"
        [class.met]="hasOneSpecialCharacterOrMore"
      >
        One or More Special Characters Required.
      </li>
    </ul>
  </div>
</article>
