.table-container {
  max-width: 100%;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  overflow-x: auto; /* Allow horizontal scrolling */

  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    &:focus {
      border-color: #007bff;
      outline: none;
    }
  }

  table.custom-table {
    width: 100%;
    border-collapse: collapse;
    font-family: "Arial", sans-serif;

    thead {
      background-color: #007bff;
      color: #fff;

      th {
        padding: 10px;
        text-align: left;
        cursor: pointer;
        border-bottom: 2px solid #ddd;
        position: relative;
        transition: background-color 0.3s ease;
        &:hover {
          background-color: #0056b3;
        }
        &.sort-asc::after {
          content: "▲";
          position: absolute;
          right: 10px;
          font-size: 12px;
        }
        &.sort-desc::after {
          content: "▼";
          position: absolute;
          right: 10px;
          font-size: 12px;
        }
      }
    }

    tbody {
      tr {
        &:nth-child(odd) {
          background-color: #f9f9f9;
        }
        &:nth-child(even) {
          background-color: #e0e0e0;
        }
        &:hover {
          background-color: #d0d0d0;
          cursor: pointer;
        }
        td {
          padding: 10px;
          word-wrap: break-word; /* Enable word wrapping */
          white-space: normal; /* Allow text to wrap */
          overflow: hidden;
        }
      }
    }
  }

  @media (max-width: 768px) {
    padding: 5px;

    input {
      padding: 8px;
    }

    table.custom-table {
      font-size: 14px;

      thead {
        th {
          padding: 8px;
        }
      }

      tbody {
        tr {
          td {
            padding: 8px;
          }
        }
      }
    }
  }

  @media (max-width: 480px) {
    input {
      padding: 6px;
    }

    table.custom-table {
      font-size: 12px;

      thead {
        th {
          padding: 6px;
        }
      }

      tbody {
        tr {
          td {
            padding: 6px;
          }
        }
      }
    }
  }

  @media (max-width: 320px) {
    table.custom-table {
      display: block; /* Collapse table into block */
      thead,
      tbody,
      th,
      td,
      tr {
        display: block; /* Make elements block-level */
      }
      th,
      td {
        padding: 10px;
        text-align: right;
        position: relative;
        &:before {
          content: attr(
            data-label
          ); /* Use data-label attribute for column names */
          position: absolute;
          left: 0;
          width: 50%;
          padding-left: 10px;
          font-weight: bold;
          text-align: left;
        }
      }
    }
  }
}
