<p class="styled-paragraph-bottom-sheet">
  Bottom sheets are typically used for displaying menus, forms, or additional
  details related to the current context. They enhance user experience by
  providing a way to access more information or actions without cluttering the
  main interface.
</p>

<div class="bottom-sheet-container" [class.show]="isShown">
  <ng-content>
    <!-- Placeholder content -->
    <div class="placeholder-content">
      <p class="title">Find nearby places and services:</p>
      <ul class="places-list">
        <li class="place-item">
          <a
            href="https://www.google.com/maps/search/?api=1&query=restaurants"
            target="_blank"
            rel="noopener"
            class="place-link"
          >
            <i class="fas fa-utensils place-icon"></i> Restaurants
          </a>
        </li>
        <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        />
        <li class="place-item">
          <a
            href="https://www.google.com/maps/search/?api=1&query=hospitals"
            target="_blank"
            rel="noopener"
            class="place-link"
          >
            <i class="fas fa-hospital place-icon"></i> Hospitals
          </a>
        </li>
        <li class="place-item">
          <a
            href="https://www.google.com/maps/search/?api=1&query=gas+stations"
            target="_blank"
            rel="noopener"
            class="place-link"
          >
            <i class="fas fa-gas-pump place-icon"></i> Gas Stations
          </a>
        </li>
        <li class="place-item">
          <a
            href="https://www.google.com/maps/search/?api=1&query=hotels"
            target="_blank"
            rel="noopener"
            class="place-link"
          >
            <i class="fas fa-hotel place-icon"></i> Hotels
          </a>
        </li>
      </ul>
    </div>
  </ng-content>
</div>

<div
  class="bottom-sheet-overlay"
  (click)="hide()"
  [class.is-hidden]="!isShown"
></div>
