.wrapper {
  margin: 120px auto 0 auto;
  padding: 20px;
  max-width: 1280px;
}

.header-title {
  font-family: "Roboto", sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  color: #2c3e50;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.formatted-card-number {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2em;
  color: #333;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.invalid-card-number {
  color: red;
  text-decoration: line-through;
}
