/* You can add global styles to this file, and also import other style files */
@import "./styles/_variables.scss";
@import "./styles/_mixins.scss";
@import "./styles/_colors.scss";

* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

// body {
//   transition: background-color 0.3s ease;
// }

// body.light-theme {
//   background-color: $body-light-mode-color;
//   // color: #333;

//   /* Add other styles for light theme here */
// }

// body.dark-theme {
//   background-color: $body-dark-mode-color;
//   // color: #fff;

//   /* Add other styles for dark theme here */
// }

// newfonts
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rationale&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

// body {
//   transition: background-color 0.3s ease;
// }

// body.light-theme {
//   background-color: $body-light-mode-color;
//   // color: #333;

//   /* Add other styles for light theme here */
// }

// body.dark-theme {
//   background-color: $body-dark-mode-color;
//   // color: #fff;

//   /* Add other styles for dark theme here */
// }
